@import "tailwindcss";
@import "../styles/variables.css";
@import "../styles/tailwind-theme.css";
@import "tw-animate-css";

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
